.catalogue {
    max-width: 1440px;
    width: 90%;
    /* height: 1152px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    margin: 50px auto;
}

    .catalogue span {
        font-family: 'Montserrat', sans-serif;
        font-size: 27px;
        align-self: center;
        margin: 0 auto;
    }

    .catalogue__items-container {
        width: 1348px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 auto;
    }

        .items-container__items {
            display: flex;
            flex-direction: column;
            margin: 10px auto;
            width: 399px;
            height: 224px;
            font-size: 46px;
            background-color: black;
            color: #FFE600;
            border-radius: 25px;
            justify-content: center;
            align-items: center;
            opacity: 0.5;
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        }

        .items-container__items__buttons {
            
        }

        .items-container__items__buttons button {
            /* height: 20px; */
            font-size: 15px;
        }

        /* анимация движения стыбзина отсюда https://codepen.io/avithour/pen/xzNJaV */

        .items-container__items:hover {
            transition: 0.3s;
            opacity: 1;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            animation-duration: 0.25s;
            border-left: 8px solid red;
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        }
        .items-container__items a {
            text-decoration: none;
            color: #FFE600;
        }
        .items-container__items a:hover {
            animation: rotate 2s infinite reverse;
        }
